@import "../../App.css";

.wrapper-body {
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #000000;
}

.image-about {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  min-height: 1366px;
}

h1 {
  font-family: "canterbury";
  width: 100%;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  color: white;
  text-shadow: 3px 0px 4px rgba(235, 0, 255, 0.7),
    -3px 0px 4px rgba(90, 78, 222, 0.7);
}

.wrapper {
  display: none;
}

@media screen and (max-width: 414px) {
  .wrapper-body {
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #212121;
  }

  .wrapper {
    background-image: url(./logo/About414x736.png);
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .outside-text {
    display: none;
  }

  .wrapper img {
    display: none;
  }

  .wrapper p {
    display: none;
  }

  .top {
    display: none;
  }

  .bottom {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .wrapper-body {
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #212121;
  }

  .wrapper {
    background-image: url(./logo/About414x736.png);
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .outside-text {
    display: none;
  }

  .wrapper img {
    display: none;
  }

  .wrapper p {
    display: none;
  }

  .top {
    display: none;
  }

  .bottom {
    display: none;
  }
}
