.nav-container{
    background: #212121;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    font-family: "canterbury";
    height: 55px ;
    border-bottom: 1px solid #8C12AB;
    padding-left: 50px;
    padding-right: 50px;

   
} 
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34%;
    color: white;
    font-size: 30px;
    
}

.navLogo{
    width: 48px;    
    height: 45px;    
    background-image: url(./logo.svg);
    background-size: cover;
    

}
.search {
    width: 100%;
    position: relative;
    display: flex;
    background-color: transparent;
    border-bottom: 2px solid white;
    margin-top: 10px;

  }
.searchinput{
    background-color: transparent;
    outline: none;
    color: white;
    border: 0px;
    height: 15px;
    margin-top: 17px;
    font-size: 16px;
    width: 150px;
    margin-bottom:5px ;

}
.logosearch{
    width: 28px;
    height: 30px;
    background-image: url(./loupe.svg);
    background-size: cover;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    position: relative
 }




.logostyle{
    width: 28px;    
    height: 30px;    
    background-image: url(./profile.svg);
    background-size: cover;  
}

.logobag{
    width: 28px;    
    height: 30px;    
    background-size: cover;
    background-image: url(./bag.svg)
}
.shop-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    color: white;
}
