.navbar_container {
  background-color: black;
  color: white;
  width: 100%;
  height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #7d31c7;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar_menu {
  display: none;
}
.navbar_logo {
  background: url("../../assets/logo.svg");
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 42px, 42px;
  margin-left: 3%;
}
.navbar_links_container {
  margin-right: 30%;
  display: flex;
  width: 40%;
  height: 60px;
  margin-left: 2%;
  margin-bottom: 0;
  margin-top: 20px;
  list-style: none;
}
.navbar_link_container {
  margin-left: 5%;
  margin-right: 5%;
}
.navbar_link {
  font-size: 1.6em;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: white;
  width: 75px;
  text-transform: uppercase;
  position: relative;
}
.navbar_link:hover {
  color: #7d31c7;
}
.navbar_link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -5px;
  background-color: #7d31c7;
}
.navbar_link_active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -5px;
  background-color: #7d31c7;
}
.navbar_icons_container {
  display: flex;
  align-items: center;
  margin-right: 2%;
  width: 20%;
  height: 60px;
  margin-bottom: 0;
  list-style: none;
}
.navbar_icon_container {
  margin-left: 5%;
  margin-right: 5%;
}
ion-icon {
  color: white;
  font-size: 1.7em;
}
ion-icon:hover {
  color: #7d31c7;
  cursor: pointer;
}
.bag_icon {
  position: relative;
}
.navbar_signal_bag {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  top: -17px;
  right: -5px;
}
@media (max-width: 1270px) {
  .navbar_container {
  }
  .navbar_container_active {
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
  }
  .navbar_logo {
    padding-right: 5%;
  }
  .navbar_menu_container {
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 2%;
    cursor: pointer;
  }
  .navbar_menu {
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
    position: relative;
  }
  .navbar_menu::after {
    content: "";
    background-color: white;
    position: absolute;
    top: -9px;
    width: 100%;
    height: 2px;
  }
  .navbar_menu::before {
    content: "";
    background-color: white;
    position: absolute;
    bottom: -9px;
    width: 100%;
    height: 2px;
  }
  .navbar_logo {
  }
  .navbar_links_container {
    display: none;
    list-style: none;
  }
  .navbar_links_container_open {
    display: block;
    position: absolute;
    background-color: #7d31c7;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    list-style: none;
  }
  .navbar_icons_container {
    position: absolute;
    right: 2%;
  }
  .navbar_link_active::before {
    background-color: black;
  }
  .navbar_link:hover {
    color: black;
  }
  .navbar_icon_container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
