@import "../../App.css";

.email-form {
  border-radius: 3px;
  border: 1px solid black;
  height: 38px;
  width: 75%;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 11vh;
}

.submit-form {
  height: 38px;
  width: 20%;
  background-color: #7d31c7;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
}

::placeholder {
  position: relative;
  font-size: 18px;
  text-align: left;
  top: 5%;
  left: 5%;
}

.text-form {
  font-family: "canterbury";
  font-size: 40px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
