@import "../../App.css";

.App {
    display: flex;
    justify-content: center;
  }
  .container {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  .text {
    position: absolute;
    width: 100vw;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
  .form {
    position: absolute;
    width: 100vw;
    display: flex;
    height: 100vh;
    align-items: flex-end;
    /* //flex-direction: column; */
    z-index: 1;
    padding: 40px;
    justify-content: center;
    
  }
  .text h1 {
    display: flex;
    color:#C4C4C4;
    margin: 20px;
    font-size: 2.2rem;
    font-family: 'canterbury';
    letter-spacing: .1rem;
  }
  .sphere {
    position: absolute;
    width: 100vw;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .brand {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;

@media (max-width: 850px) and (orientation: landscape) {
  .landing_brand {
    font-size: 6vh;
  }
  .landing_image {
    width: 25%;
  }
}
@media (max-width: 480px) {
  .landing_brand {
    top: 0;
    right: 10px;
    font-size: 8vw;
  }
  .landing_collection {
    top: 0;
    height: 10vw;
    width: 10vh;
  }
  .landing_title {
    top: 10%;
    font-size: 4vw;
  }
}
  }