:root {
  --theme-color: #7d31c7;
}
@font-face {
  font-family: "ds-digital";
  src: local("ds-digital"), url("./fonts/DS-DIGI.ttf"), format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "canterbury";
  src: local("canterbury"), url("./fonts/Canterbury.ttf"), format("truetype");
  font-weight: normal;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
  width: 100%;
}

.app {
  height: 200vh;
  width: 100vw;
}
