.order_container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
}
.order_reminder_container {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.order_title-for-reminder {
  text-align: center;
}
.order_reminder_product_container {
  height: 80vh;
  overflow: auto;
}
.order_reminder_product_container::-webkit-scrollbar {
  width: 5px;
}
.order_reminder_product_container::-webkit-scrollbar-thumb {
  background-color: #7d31c7;
  border-radius: 5px;
}
.order_reminder_product_container::-webkit-scrollbar-track {
  background-color: #341553;
}
.order_reminder_card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  width: 100%;
}
.order_reminder_img_container {
  width: 20%;
  height: 120px;
}
.order_reminder_img {
  height: 120px;
}
.order_reminder_name-info_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}
.order_reminder_name {
  font-size: 1.2em;
  text-decoration: underline;
}
.order_reminder_info-product_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.order_reminder_size_container,
.order_reminder_qty_container {
  display: flex;
  flex-wrap: wrap;
}
.order_reminder_size_title {
  font-size: 1.2em;
}
.order_reminder_size {
  font-size: 1.2em;
}
.order_reminder_qty_title {
  font-size: 1.2em;
}
.order_reminder_qty {
  font-size: 1.2em;
}
.order_reminder_price {
  font-size: 1.2em;
}
.order_reminder_total-shipping_container {
  position: absolute;
  border-top: 1px solid #7d31c7;
  background-color: black;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20vh;
}
.order_reminder_shipping_container,
.order_reminder_total_container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 6vh;
}
.order_reminder_shipping,
.order_reminder_total {
  margin-left: 10px;
}
.order_form_container {
  width: 60%;
  min-width: 410px;
  height: 100%;
  overflow: auto;
}
.order_form_container::-webkit-scrollbar,
.order_container::-webkit-scrollbar,
.order_bag_container::-webkit-scrollbar {
  width: 5px;
}
.order_form_container::-webkit-scrollbar-track,
.order_container::-webkit-scrollbar-track,
.order_bag_container::-webkit-scrollbar-track {
  background-color: #290f42;
}
.order_form_container::-webkit-scrollbar-thumb,
.order_container::-webkit-scrollbar-thumb,
.order_bag_container::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #7d31c7;
}
.order_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: #7d31c7;
  margin-bottom: 0.3em;
}
.order_address {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-bottom: 50px;
  padding-top: 30px;
}
.order_address label {
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
}
.order_address input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #7d31c7;
  height: 40px;
  width: 400px;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  background-color: black;
  margin-bottom: 1em;
  color: white;
}
.order_address input::-webkit-outer-spin-button,
.order_address input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.order_address input[type="text"] {
  -moz-appearance: textfield;
}
.order_address input:-internal-autofill-selected {
  background-color: black !important;
  color: white !important;
}
.order_address input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 1.3em black inset !important;
  background-clip: content-box !important;
}
.order_address select {
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px solid #7d31c7;
  background-color: black;
  color: white;
  outline: none;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  width: 400px;
  height: 40px;
}
.order_address select:active {
  border: none;
}
.order_address select::-ms-expand {
  display: none;
}
.order_address select:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 1.3em black inset !important;
  background-clip: content-box !important;
}
.order_shipping {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  padding-bottom: 50px;
}
.order_shipping ul {
  list-style: none;
}
.order_shipping input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 1px solid #7d31c7;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
  outline: none;
}
input:checked {
  border: 8px solid #7d31c7;
}
.order_payment {
  width: 400px;
  padding-bottom: 200px;
}
.order_payment label {
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
}
.order_payment input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #7d31c7;
  height: 40px;
  width: 400px;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  background-color: black;
  margin-bottom: 1em;
  color: white;
}
.order_payment input::-webkit-outer-spin-button,
.order_payment input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.order_payment input[type="text"] {
  -moz-appearance: textfield;
}
.order_payment input:-internal-autofill-selected {
  background-color: black !important;
  color: white !important;
}
.order_payments input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 1.3em black inset !important;
  background-clip: content-box !important;
}
.credit_card_container {
  padding-bottom: 20px;
}
