@import "../../App.css";

.product-side {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 78%;
  overflow: auto;
}

.categories-filter {
  width: 22%;
  border-right: 1px solid #8c12ab;
}

.shop {
  display: flex;
  justify-content: flex-start;
  height: 96vh;
  width: 100%;
  border-top: 1px solid #8c12ab;
  color: white;
  background-color: #212121;
}

