.e-shop_container {
  background-color: black;
  color: white;
  height: calc(100vh - 100px);
  overflow: hidden;
  display: flex;
}
.filter_container {
  border-right: 1px solid #7d31c7;
  height: calc(100vh - 100px);
  overflow-y: hidden;
  width: 20%;
  box-shadow: #7d31c7 1px -1px 10px;
  list-style: none;
}
.filter_container ul li p {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: #7d31c7;
  margin-left: 0.2em;
  margin-top: 5px;
  list-style: none;
}
.filter_container ul li ul li button {
  background-color: black;
  color: white;
  font-family: "Oswald", sans-serif;
  border: none;
  font-size: 1.1em;
  outline: none;
  margin: 2px 0;
  margin-left: 1.3em;
  padding: 0 10px;
}
.filter_container ul li ul li button:hover {
  color: #7d31c7;
}
.product-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
